<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".TvMusicApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TVMusic"
        android:banner="@drawable/app_banner_image"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:banner="@drawable/app_banner_image"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SearchResultActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.SearchActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.FavoritesActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.PlaylistActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.PlayerActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />

    </application>
</manifest>
